.check-in-popup
  background-color: #81a41b
  box-sizing: border-box
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 4vh 2.5vh
  box-sizing: border-box
  display: flex
  justify-content: space-between
  align-items: center
  flex-basis: 100%
  max-height: 515px
  z-index: 5

  @media (max-width: 768px)
    top: initial
    padding: 250px 30px 100px 30px
    left: 30px
    right: 30px
    bottom: 120px
    max-height: initial
    flex-direction: column
    justify-content: flex-start

  @media (max-width: 420px)
    top: initial
    padding: 150px 10px 50px 10px
    left: 10px
    right: 10px
    bottom: 40px
    min-height: 72.2vh

  h2
    font-family: 'futurafuturiscbold'
    font-size: 5.5vh
    margin: 0
    color: #fff
    text-transform: uppercase

    @media(min-height: 950px)
      font-size: 52px

    @media (max-width: 768px)
      font-size: 52px

    @media (max-width: 420px)
      font-size: 24px

  p
    font-family: 'futurafuturis'
    font-size: 2.7vh
    margin: 0
    color: #fff

    @media (max-width: 420px)
      font-size: 26px

    @media (max-width: 420px)
      font-size: 12px

    @media(min-height: 950px)
      font-size: 26px

  input[type="text"],
  input[type="email"],
  input[type="phone"]
    font-family: 'futurafuturiscbold'
    font-size: 2.3vh
    text-transform: uppercase
    margin-top: 1.8vh
    height: 5vh
    box-sizing: border-box
    padding: 0 20px
    padding-top: 5px
    border: none
    border-radius: 10px

    @media(min-height: 950px)
      font-size: 21px
      height: 50px

    @media (max-width: 768px)
      font-size: 21px
      max-width: 100%
      width: 100%
      height: 50px
      margin-top: 20px

    &:focus
      outline: none

    @media (max-width: 420px)
      font-size: 12px
      height: 30px
      margin-top: 10px


.bookBox
  margin-top: 1.8vh
  width: 250px
  display: flex
  justify-content: space-between
  position: relative

  input
    opacity: 0
    position: absolute

    &:checked + label
      background: url('../assets/images/checkbox.png') no-repeat left center

      &:before
        display: none

  label
    font-family: 'futurafuturis'
    font-size: 1.8vh
    color: #fff
    display: block
    margin: 0
    padding-left: 48px
    height: 38px
    cursor: pointer
    position: relative

    @media(min-height: 950px)
      font-size: 17px


    @media (max-width: 768px)
      font-size: 17px


    @media(max-width: 420px)
      font-size: 12px

    &:before
      content: ''
      position: absolute
      top: 8px
      left: 0
      bottom: 0
      border: 3px solid #fff
      width: 31px
      box-sizing: border-box


.check-in-popup_left
  width: 45%
  height: 100%
  box-sizing: border-box

  @media (max-width: 768px)
    width: 100%
    align-items: center


.check-in-popup_right
  width: 60%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  box-sizing: border-box


.image
  width: 36vh
  max-width: 350px

  &:before
    content: ''
    display: block
    width: 100%
    margin-bottom: calc(100%)

  &.factory
    background: url('../assets/images/factory.png') no-repeat center
    background-size: contain


  &.beach
    background: url('../assets/images/beach.png') no-repeat center
    background-size: contain


  &.sea-battle
    background: url('../assets/images/sea-battle.png') no-repeat center
    background-size: contain

  @media (max-width: 768px)
    padding-left: 15%
    width: 30%
    position: absolute
    top: 20px

  @media (max-width: 420px)
    width: 35%
    top: 10px


.check-in-popup_actions
  display: flex
  justify-content: flex-end
  width: 100%

  @media (max-width: 768px)
    position: absolute
    bottom: 30px
    left: 0
    right: 0
    justify-content: center

  @media (max-width: 420px)
    bottom: 20px

  button
    border: 4px solid #fff
    font-size: 2.6vh
    font-weight: bold
    background-color: transparent
    color: #fff
    padding: 5px 15px
    border-radius: 12px
    cursor: pointer
    text-transform: uppercase

    @media(min-height: 950px)
      font-size: 24px

    @media (max-width: 768px)
      font-size: 24px

    @media (max-width: 420px)
      font-size: 12px
      padding: 2px 10px
      border-radius: 5px
      border-width: 2px

    &:last-child
      margin-left: 20px

    &:first-child
      margin-left: 0

    &:focus
      outline: none


.close
  width: 30px
  height: 30px
  position: absolute
  top: 20px
  right: 30px
  padding: 0
  border: 0
  font-size: 0
  background-color: transparent
  background: url('../assets/images/close.png') no-repeat center
  cursor: pointer
  z-index: 4

  &:focus
    outline: none

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */
  opacity: 0


.slide-fade-enter-active
  transition: all .3s ease

.slide-fade-leave-active
  transition: all .2s ease

.slide-fade-enter, .slide-fade-leave-to
  transform: translateX(10px)
  opacity: 0
