.footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 130px
  padding: 0 30px

  @media(max-width: 1310px)
    height: 90px


.footer-inner
  max-width: 1200px
  background: url('../assets/images/footer.png') no-repeat center
  height: 100%
  margin: 0 auto
  background-size: contain
  box-sizing: border-box

