.header
  position: fixed
  top: 0
  right: 0
  left: 0
  background-color: rgba(0, 0, 0, 0.2)
  height: 100px
  z-index: 2


.header-inner
  max-width: 1200px
  margin: 0 auto
  padding: 0 3%
  display: flex
  align-items: center
  justify-content: space-between
  box-sizing: border-box


.logo
  width: 100px
  height: 100px
  background: url('../assets/images/logo.png') no-repeat center
  margin-right: 20px

  a
    width: 100px
    height: 100px
    font-size: 0
    display: block


.header-menu
  width: 100%
  max-width: 720px
  display: flex
  justify-content: space-between

  a
    font-size: 24px
    color: #fff
    text-decoration: none
    word-wrap: normal
    display: inline-flex
    margin: 0 10px
    height: 30px
    line-height: 30px
    font-family: 'futurafuturis'


