.header
  position: fixed
  top: 0
  right: 0
  left: 0
  background-color: #81a41b
  max-height: 100px
  height: 11vh
  z-index: 2


.header-inner
  max-width: 1200px
  width: 127vh
  margin: 0 auto
  padding: 0 3%
  display: flex
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  height: 100%

  @media(max-width: 1200px)
    max-width: 100%

  @media(max-width: 768px)
    width: 100%


.logo
  width: 11vh
  min-width: 80px
  height: 100%
  border: 1vh solid transparent
  box-sizing: border-box
  background: url('../assets/images/logo.png') no-repeat center
  background-size: contain

  @media(max-width: 768px)
    min-width: initial

  a
    font-size: 0
    width: 100%
    height: 100%
    display: block


.header-menu
  display: flex
  justify-content: space-between
  width: 76vh
  max-width: 720px

  @media(max-width: 768px)
    display: none

  a
    font-size: 3vh
    color: #fff
    text-decoration: none
    word-wrap: normal
    display: inline-flex
    margin: 0 1vh
    height: 30px
    line-height: 30px
    font-family: 'futurafuturis'
    white-space: nowrap

    @media(min-height: 950px)
      font-size: 24px

.header-menu_mobile
  display: none
  align-items: center

  @media(max-width: 768px)
    display: flex

.header-menu_mobile_inner
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  position: absolute
  top: 0
  left: 0
  right: 0
  margin: 0
  background-color: #81a41b
  padding: 0
  z-index: 1
  padding: 10% 30%

  @media(max-width: 420px)
    padding: 10% 20%

  li
    list-style-type: disc
    padding: 0
    color: #fff
    width: 100%
    margin-bottom: 15px
    font-size: 40px

    &:last-child
      margin-bottom: 0

    a
      color: #fff
      text-decoration: none
      font-family: 'futurafuturis'
      font-size: 30px
      line-height: 1


.open
  width: 50px
  height: 28px
  padding: 0
  border: 0
  font-size: 0
  background-color: #fff
  cursor: pointer
  position: relative


  &:before
    content: ''
    position: absolute
    right: -1px
    left: -1px
    top: 4px
    border-bottom: 8px solid #81a41b


  &:after
    content: ''
    position: absolute
    right: -1px
    left: -1px
    top: 16px
    border-bottom: 8px solid #81a41b

  &:focus
    outline: none


.close
  position: absolute
  top: 20px
  right: 30px
  z-index: 2
  width: 30px
  height: 30px
  padding: 0
  border: 0
  font-size: 0
  background-color: transparent
  background: url('../assets/images/close.png') no-repeat center
  cursor: pointer

  &:focus
    outline: none


.open-menu-enter-active, .open-menu-leave-active
  transition: opacity .5s

.open-menu-enter, .open-menu-leave-to /* .fade-leave-active in <2.1.8 */
  opacity: 0
