.view-2
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.view_inner
  max-width: 1200px
  margin: 0 auto


.view_title
  font-size: 60px
  font-weight: bold
  text-transform: uppercase
  color: #fff
  margin: 0
  text-shadow: 3px 3px #777


.view_subtitle
  font-size: 38px
  color: #fff
  margin: 0 0 40px
  font-family: 'futurafuturis'


.view_list
  display: flex
  align-items: center
  justify-content: center
